@import 'fonts.css';
@import 'swiper.css';

/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* purgecss end ignore */

html, body {
  font-size: 12px;
  overflow-x: hidden;
}

.container {
  width: 95%;
}

.text-content p {
  margin-bottom: 1rem;
}

.text-content a:link {
  @apply underline;
}

.nav-trigger {
  width: 44px;
  height: 12px;
}

.nav-trigger-bar {
  transition: transform 200ms ease-in-out;
}

.nav-trigger.nav-active .nav-trigger-bar:first-of-type {
  transform: rotate(10deg) translateY(150%);
}

.nav-trigger.nav-active .nav-trigger-bar:last-of-type {
  transform: rotate(-10deg) translateY(-150%);
}

.mobile-nav {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
}

.mobile-nav.nav-active {
  opacity: 1;
  pointer-events: auto;
}

.swiper-container {
  overflow: visible;
}

.swiper-slide {
  @apply w-auto self-center;
}

.swiper-slide img {
  max-width: 353px;
  max-height: 353px;
}

.gallery .swiper-container {
  width: 100vw;
}

.gallery .swiper-wrapper {
  align-items: center
}

.gallery .swiper-slide {
  @apply flex justify-center items-center transition-opacity;
  opacity: .2;
  width: 60vw;
  height: 70vw;
  max-height: 90vh;
}

.gallery .swiper-slide-active {
  opacity: 1
}

input {
  max-width: 450px;
}

@screen sm {

}

@screen md {

}

@screen lg {
  .container {
    width: 960px;
  }
}

@screen xl {
  .container {
    width: 1100px;
  }
}

@screen 2xl {
  .container {
    width: 1400px;
  }
}

@tailwind utilities;
