@import 'fonts.css';
@import 'swiper.css';

/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* purgecss end ignore */

html, body {
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  width: 92%;
  max-width: 1400px;
}

.rich-text p {
  margin-bottom: 1rem;
}

.rich-text a:link {
  @apply text-blue;
}

.post-content {
  @apply flex flex-col items-center mb-60;
}

.post-content p {
  @apply w-5/6 max-w-prose;
}

.post-content p.block-img {
  @apply w-full max-w-none my-16;
}

p.block-img img {
  @apply max-w-screen-lg w-full block mx-auto;
  max-height: 110vh;
}

.swiper-container {
  overflow: visible;
}

.swiper-slide {
  @apply w-auto self-center;
}

.swiper-slide img {
  max-width: 353px;
  max-height: 353px;
}

.gallery .swiper-container {
  width: 100vw;
}

.gallery .swiper-wrapper {
  align-items: center
}

.gallery .swiper-slide {
  @apply flex justify-center items-center transition-opacity;
  opacity: .2;
  width: 60vw;
  height: 70vw;
  max-height: 90vh;
}

.gallery .swiper-slide-active {
  opacity: 1
}

input {
  max-width: 450px;
}

@screen sm {
  .post-content p {
    @apply w-2/3;
  }
}

@screen lg {
  .container {
    width: 90%;
  }
}

@screen xl {
  .post-content p {
    @apply w-1/2;
  }
}

@tailwind utilities;
